.footer {
	position: fixed;
  	bottom: 0;
  	width: 100%;
  	padding: 1rem;
	text-align: center;
}

.castex {
    background-image: URL('https://media1.tenor.com/images/a97bc71f90d755a2d161296ab27a0a48/tenor.gif?itemid=18240051');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-size: 5rem;
    color: blue;
    text-align: center;
}